<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>This is Home.</title>
    <link rel="stylesheet" href="static/milligram.css">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/bootstrap-table.css">
</head>

<body>
<main class="wrapper">

<section class="container">
    <h1>
        Hello, world.
    </h1>
    <p>What is this about?</p>
</section>

<section class="container">
{% autoescape false %}
{% for block in blocks %}
    {{ block }}
{% endfor %}
{% endautoescape %}
</section>

</main>

<script src="static/popper.js"></script>
<script src="static/jquery.js"></script>
<script src="static/bootstrap.js"></script>
<script src="static/bootstrap-table.js"></script>
</body>
</html>